[Desktop Entry]
Encoding=UTF-8
Version=
Type=Application
Exec=/usr/bin/gwiz
Icon=gwizicon
X-GNOME-DocPath=
Terminal=false
Name=GWiz
Comment=The Enhanced Machine Controller
StartupNotify=false
Categories=X-CNC;
